<section class="maintenance-notice">
  <div class="container">
    <div class="left-column"></div>
    <div class="right-column">
      <div class="content">
        <h1 class="headline">Scheduled Maintenance Notice</h1>
        <h3 class="message">Our portal is currently under maintenance to improve your experience. We apologize for any
          inconvenience caused.</h3>
        <h3 class="message">The portal will be live as soon.</h3>
        <h3 class="thank-you">Thank you for your patience and understanding.</h3>
      </div>
    </div>
  </div>
</section>
