<section class="maintenance-notice">
  <div class="overlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="headline">Scheduled Maintenance Notice</h1>
      <h4 class="message">Our portal is currently under maintenance to improve your experience. We apologize for any
        inconvenience caused.</h4>
      <h4 class="message">The portal will be live again on 25 January 2025.</h4>
      <h4 class="thank-you">Thank you for your patience and understanding.</h4>
    </div>
  </div>
</section>