<main id="main">
  <!--Mobile Menu Code start-->
  <a class="mobile-menunav-toggle" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample"><i class="bi bi-list"></i></a>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <img src="assets/img/westgate.svg" width="200" alt="" class="img-fluid">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
   <div class="offcanvas-body">
        <nav>
          <ul class="offcanvas-nav">
            <li><a routerLink="/supplier-admin/supplier-dashboard-header" [class.active]="router.url.includes('/supplier-admin/supplier-dashboard-header')">Dashboard</a></li>
            <li><a routerLink="/supplier-admin/project-list" [class.active]="router.url.includes('/supplier-admin/project-list')">Projects</a></li>
            <li><a routerLink="/supplier-admin/case-studies-list" [class.active]="router.url.includes('/supplier-admin/case-studies-list')">Case Studies</a></li>
            <li><a routerLink="/supplier-admin/role-wise-resources-list" [class.active]="router.url.includes('/supplier-admin/role-wise-resources-list')">Resources</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/supplier-admin/notification" [class.active]="router.url.includes('/supplier-admin/notification')">Notification</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/supplier-admin/view-user-details" (click)="closeMobileNav()">Profile Setting</a></li>
            <li><a routerLink="/supplier-admin/manage-user" (click)="closeMobileNav()">Manage Users</a></li>
            <li><a routerLink="/supplier-admin/change-password" (click)="closeMobileNav()">Security</a></li>
            <li><a style="cursor: pointer;" (click)="logout() ; closeMobileNav()">Logout</a></li>
          </ul>
        </nav>
      </div>
  </div>
  <!--Mobile Menu Code close-->
  <section class="pb-0" style="padding-top: 10px !important;">
    <div class="container-fluid text-center">
      <p style="text-align: center; font-weight: bold;">"We expect our suppliers to upload their case studies,
        because
        the projects will be matched according to the case studies. So, having more case studies will help you
        get
        more projects."
      </p>
    </div>
    <div class="container-fluids mb-3">
      <div class="row align-items-center">
        <nav>
          <ul class="projects-nav-tab">
            <li routerLink="/supplier-admin/case-studies-list">
              <a>Historical Data</a>
            </li>
            <li routerLink="/supplier-admin/experties-list">
              <a class="active">Case Studies</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 col-8">
          <h4 class="text-theme mb-4"><strong>Case Studies</strong></h4>
        </div>
        <!-- <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-4 text-end">
          <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addExpertiseModal">
            Add Expertise
          </button>
        </div> -->
      </div>

      <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12">
        <div class="Flatcard shadow-1 mt-4 border">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table  align-middle">
                <thead class="table-light">
                  <tr>
                    <th>Expertise</th>
                    <!-- <th>Upload Files</th> -->
                     <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!expertiseList?.length">
                    <td colspan="3">
                      <app-no-record-found></app-no-record-found>
                    </td>
                  </tr>
                  <tr *ngFor="let item of expertiseList">
                    <td>{{ item }}</td>
                    <!-- <td>
                      <input type="file" multiple (change)="onFilesSelected($event, item)" accept=".pdf, .doc, .docx" />
                    </td> -->
                    <td>
                      <a class="btn btn-primary btn-sm" style="cursor: pointer" (click)="navigateToSubExpertise(item)">View
                        Industry / Sub Expertise</a>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
</main>

<div class="modal fade" id="viewAllDocuments" tabindex="-1" aria-labelledby="viewAllProjectsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between">
        <h6>Uploaded Files</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped align-middle">
            <thead>
              <tr>
                <th>File Name</th>
                <th>Expertise</th>
                <th>Uploaded At</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!viewDocs?.length">
                <td colspan="4">No Files Available for this Expertise</td>
              </tr>
              <tr *ngFor="let file of viewDocs">
                <td>{{ file.fileName }}</td>
                <td>{{ file.expertise }}</td>
                <td>{{ file.createdAt | date : 'dd/MM/yyyy, h:mm a' }}</td>
                <td>
                  <div class="d-flex gap-2">
                    <a class="btn btn-primary btn-sm" [href]="file.fileUrl" target="_blank" title="Download">
                      <i class="bi bi-download"></i>
                    </a>
                    <a (click)="deleteDoc(file?._id)" class="btn btn-danger btn-sm" title="Delete">
                      <i class="bi bi-trash3-fill"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addExpertiseModal" tabindex="-1" aria-labelledby="addExpertiseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6>Add Expertise</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Expertise Field -->
        <div class="form-group mb-3">
          <label for="expertiseName">Expertise</label>
          <input type="text" class="form-control" id="expertiseName" [(ngModel)]="newExpertise"
            placeholder="Enter expertise name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="saveExpertise()" [disabled]="!newExpertise">
          Save
        </button>
      </div>
    </div>
  </div>
</div>