<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<main id="main">
  <!--Mobile Menu Code start-->
  <a class="mobile-menunav-toggle" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample"><i class="bi bi-list"></i></a>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <img src="assets/img/westgate.svg" width="200" alt="" class="img-fluid">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
   <div class="offcanvas-body">
        <nav>
          <ul class="offcanvas-nav">
            <li><a routerLink="/supplier-admin/supplier-dashboard-header" [class.active]="router.url.includes('/supplier-admin/supplier-dashboard-header')">Dashboard</a></li>
            <li><a routerLink="/supplier-admin/project-list" [class.active]="router.url.includes('/supplier-admin/project-list')">Projects</a></li>
            <li><a routerLink="/supplier-admin/case-studies-list" [class.active]="router.url.includes('/supplier-admin/case-studies-list')">Case Studies</a></li>
            <li><a routerLink="/supplier-admin/role-wise-resources-list" [class.active]="router.url.includes('/supplier-admin/role-wise-resources-list')">Resources</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/supplier-admin/notification" [class.active]="router.url.includes('/supplier-admin/notification')">Notification</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a routerLink="/supplier-admin/view-user-details" (click)="closeMobileNav()">Profile Setting</a></li>
            <li><a routerLink="/supplier-admin/manage-user" (click)="closeMobileNav()">Manage Users</a></li>
            <li><a routerLink="/supplier-admin/change-password" (click)="closeMobileNav()">Security</a></li>
            <li><a style="cursor: pointer;" (click)="logout() ; closeMobileNav()">Logout</a></li>
          </ul>
        </nav>
      </div>
  </div>
  <!--Mobile Menu Code close-->

  <section class="dashboard-section">
    <div class="container-fluid">

      <!-- <div class="Flatcard mb-4">
        <div class="card-header bg-white">
          <h4>All Time Projects</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 mb-3">
              <div class="card bg-light-orange shadow-none">
                <div class="card-icon"><img src="/assets/img/publishing.png" /></div>
                <div class="card-body">
                  <p class="counter-text">{{projectCount?.totalpassed}}</p>
                  <p class="mb-0">Published</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="Flatcard">
        <div class="card-header bg-white">
          <h4>Current Live Projects</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 mb-3">
              <div class="card bg-light-orange shadow-none">
                <div class="card-icon"><img src="/assets/img/publishing.png" /></div>
                <div class="card-body">
                  <p class="counter-text">{{projectCount?.totalpassed}}</p>
                  <p class="mb-0">Published</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 mb-3">
              <div class="card bg-light-levendar shadow-none">
                <div class="card-icon"><img src="/assets/img/shortlisted.png" /></div>
                <div class="card-body">
                  <p class="counter-text">{{projectCount?.sortListed}}</p>
                  <p class="mb-0">Shortlisted</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 mb-3">
              <div class="card bg-light-seablue shadow-none">
                <div class="card-icon"><img src="/assets/img/in-solution.png" /></div>
                <div class="card-body">
                  <p class="counter-text">{{projectCount?.totalInSolution}}</p>
                  <p class="mb-0">In-Solution</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 mb-3">
              <div class="card bg-light-green shadow-none">
                <div class="card-icon"><img src="/assets/img/awarded.png" /></div>
                <div class="card-body">
                  <p class="counter-text">{{projectCount?.totalAwarded}}</p>
                  <p class="mb-0">Awarded</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 mb-3">
              <div class="card bg-light-pink shadow-none">
                <div class="card-icon"><img src="/assets/img/not-awarded.png" /></div>
                <div class="card-body">
                  <p class="counter-text">{{projectCount?.totalNotAwarded}}</p>
                  <p class="mb-0">Not Awarded</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-12 mb-3">
              <div class="card bg-light-levendar shadow-none">
                <div class="card-icon"><img src="/assets/img/shortlisted.png" /></div>
                <div class="card-body">
                  <p class="counter-text">{{projectCount?.totalWaitingForResult}}</p>
                  <p class="mb-0">Waiting For Result</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="row">
                <div class="col-lg-8 col-xl-6 col-md-8 col-sm-10 col-12">
                    <div class="col-12 mb-5">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-blue w-100"></a>
                    </div>
                </div>
                <h3 class="text-center justify-content-center mb-4">Live</h3><br />
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                        <div class="col-12 mb-5" >
                            <div class="statistic-card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <p><strong>Publish Projects</strong></p>
                                        </div>
                                        <div class="col-6">
                                            <h2 class="text-blue">
                                                <strong>{{projectCount?.totalpassed}}</strong>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="explore-btn bg-blue w-100"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                        <div class="col-12 mb-5" >
                            <div class="statistic-card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <p><strong>Shortlisted</strong></p>
                                        </div>
                                        <div class="col-6">
                                            <h2 class="text-teal">
                                                <strong>{{projectCount?.sortListed}}</strong>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="explore-btn bg-info w-100"></a>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-5" >
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>In-solution</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-blue">
                                            <strong>{{projectCount?.totalInSolution}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-blue w-100"></a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>Awarded</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-green">
                                            <strong>{{projectCount?.totalAwarded}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-green w-100"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>Not Awarded</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-brown">
                                            <strong>{{projectCount?.totalNotAwarded}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-brown w-100"></a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>Waiting For Result</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-blue">
                                            <strong>{{projectCount?.totalWaitingForResult}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-success w-100"></a>
                    </div>
                </div>

            </div> -->
    </div>
  </section>
</main>


<!-- <div class="col-12 mb-5" (click)="navigateToProjectList('InSubmission')">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>In-submission</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-teal">
                                            <strong>{{projectCount?.totalInSubmition}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-teal w-100"></a>
                    </div> -->

<!-- <div class="col-12 mb-5" (click)="navigateToProjectList('UK Expert-Writing')">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>UK Expert-Writing</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-teal">
                                            <strong>{{projectCount?.UKExpertWritingsCount}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-info w-100"></a>
                    </div> -->

<!-- <div class="col-12 mb-5" (click)="navigateToProjectList('UK Expert-Review')">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>UK Expert-Review</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-teal">
                                            <strong>{{projectCount?.UKExpertReviewCount}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-warning w-100"></a>
                    </div> -->

<!-- <div class="col-12 mb-5" (click)="navigateToProjectList('Submitted')">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>Submitted</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-green">
                                            <strong>{{projectCount?.totalSubmitted}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-green w-100"></a>
                    </div> -->

<!-- <div class="col-12 mb-5" (click)="navigateToProjectList('NotAwarded')">
                        <div class="statistic-card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <p><strong>Not Awarded</strong></p>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="text-brown">
                                            <strong>{{projectCount?.totalNotAwarded}}</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="explore-btn bg-brown w-100"></a>
                    </div> -->
